.alert{
  float: right;
  visibility: hidden;
}

.alert-on {
  float: right;
  visibility: visible;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f8f5ef;
}

.cr-text {
  text-align: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin: 10px 0 10px 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin .checkbox {
  text-align: left;
}

.main-form {
  border-radius: 10px;
  margin: 10rem auto 0 auto;
  width: 31rem;
  height: 34rem;
  background-color: #c2b9a6;
  text-align: center;
}

.table-container {
  width: 30rem;
  height: 30rem;
  position: relative;
  top: 10rem;
  left: 50rem;
}
